<form style="font-family: Arial" action='/bookmarks' method ='post'>
<label for  = 'url'>New URL to bookmark:<br></label>
<input type='text' name ='url' id='url'>
<label for  = 'title'>New bookmark title:<br></label>
<input type='text' name ='title' id='title'>
<input type='submit' value='Add'>
</form>